
# Dependencies folder
dependencies/

# Logging
server-log.txt
log.txt
logs/

# Useless stuff
plugins/

# Binary Files
samp-npc
samp03svr
announce
*.amx
*.dll
*.so
*.exe

# Server.cfg
server.cfg
config.json
ban.json
